body {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0; 
background: #e5e5e5;
color: #3f3f3f;
font-size: 14px;
line-height: 24px;
}

a { color: #000088; }
a:hover { color: #880000; }

#top {
background: #2E627C;
padding: 0 10px;
height: 70px;
line-height: 70px;
border-bottom: 5px solid #7599a9;
}

#header {
float: left;
}
#header h1 {
margin: 0;
padding: 0;
font-weight: bold;
color: #fff;
font-size: 33px;
letter-spacing: -1px;
}

.logo {
  height:50px;
  width:75px;
}

#topmenu {
float: right;
}
#topmenu ul { margin: 0; padding: 0; list-style-type: none;}
#topmenu li { display: inline; padding: 0 0 0 20px }
#topmenu li a { 
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 5px 10px; 
background: #35718F; 
text-decoration: none; 
color: #fff;
}
#topmenu li a:hover { background: #eee; color: #000; }

#contentwrap { 
width: 980px;
background: #f9f9f9;
margin: 20px auto;
border: 1px solid #c9c9c9;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}

.cleft { float: left; padding: 20px 0 20px 20px; width: 200px; }
.cleft h3 { 
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px; 
font-size: 12px; 
font-weight: bold; 
color: #fff; 
background: #6a9d84; 
padding: 3px 10px; 
}
.cleft ul { margin: 0; padding: 0; list-style-type: none; }
.cleft ul li { margin: 0 0 5px 0; color: #fff; }
.cleft ul li a { 
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px; 
font-size: 12px; 
display: block; 
text-decoration: none; 
color: #fff; 
background: #7599a9; 
padding: 3px 10px; 
color: #fff; 
}
.cleft ul li a:hover { background: #3D8EA9; }

.cright { 
-webkit-border-top-right-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
border-left: 1px solid #e9e9e9; 
background: #fff;
float: right; 
padding: 0 20px 20px 20px; 
width: 700px; }
.cright h2 { 
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px; 
background: #fffaae; 
padding: 10px; 
font-weight: normal; 
color: #585858;
letter-spacing: -1px;
font-weight: bold;
margin: 20px -10px 10px -10px;
}

#footer { 
position:fixed;
bottom:0;
left:0;
right:0;
background: #4D606E;
color: #fff;
padding: 10px;
}
#footer a { color: #fff; text-decoration: none; border-bottom: 1px dotted #fff; }
#footer a:hover { border-bottom: 1px dotted #ccc; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; padding: 0 0 10px 0; }

.messages {
  list-style-type:none;
  width:980px;
  margin: 10px auto;
  padding:0;
}

.messages li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color:#99FF99;
  padding:5px;
}

.messages li.error {
  background-color:#FF9999;
}

.action {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #CCC;
  padding:10px;
}

form label {
  width:150px;
  display:inline-block;
  vertical-align:top;
}

form input[type=submit] {
  margin-left:155px;
}

form .helptext {
  font-size:75%;
  color:#999;
  margin-left:155px;
  display:block;
}

h3.inline {
  display:inline-block;
  margin-right:20px;
}

form.inline {
  display:inline-block;
}

form.inline input {
  margin-left:0;
}

form input[type=submit]:hover {
  cursor: hand; 
  cursor: pointer; 
}

form.delete input[type=submit] {
  background : url("/static/images/delete_2.png") no-repeat center center;
  width : 16px;
  height : 16px;
  border : none;
  color : transparent;
}

form.edit input[type=submit] {
  background : url("/static/images/edit_2.png") no-repeat center center;
  width : 16px;
  height : 16px;
  border : none;
  color : transparent;
}

#items-list .complete {
  background-color: #99FF99;
}
