{% extends 'auction/base.html' %}

{% block content %}

<h3 class="entity">Bidder {{bidder.code}}: {{bidder.name}}</h3>

<form class="entity edit" action="{{bidder.get_absolute_url}}/edit" method="get">{% csrf_token %}
<input type="submit" value="Edit" />
</form>

<form class="entity delete" action="{{bidder.get_absolute_url}}/delete" method="post">{% csrf_token %}
<input type="submit" value="Delete" onClick="return confirm('Are you sure you want to delete this bidder and all their purchases?')"/>
</form>
<br/>
Credit (prepaid): ${{bidder.credit|default_if_none:0 }}<br/>
Email: {{bidder.email}}<br/>
<h3>Purchases:</h3>
<ul>
{% for purchase in bidder.purchases.all %}
<li>
    <a href="{{purchase.item.get_absolute_url}}">{{purchase.item.code}}, {{purchase.item.name}}</a>
    <form class="entity delete" action="{{purchase.get_absolute_url}}/delete" method="post">{% csrf_token %}
    <input type="submit" value="Delete" onClick="return confirm('Are you sure you want to remove this purchase?')"/>
    </form>
</li>
{% endfor %}
</ul>
<a href="{{bidder.get_absolute_url}}/checkout">Checkout</a>
{% endblock %}
