{% extends 'auction/base.html' %}

{% block content %}

<a href="/bidders"><h3 class="inline">Bidders</h3></a>
<form class="inline" action="" method="get">
    <input type="text" name="query" value="{{query}}"/>
    <input type="submit" value="Search"/>
</form>
<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Purchases</th>
    </tr>
{% for bidder in bidders %}
    <tr {% if bidder.checked_out %}class="complete" {% endif %}>
        <td><a href="{{bidder.get_absolute_url}}">{{bidder.code}}</a></td>
        <td><a href="{{bidder.get_absolute_url}}">{{bidder.name}}</a></td>
        <td><a href="{{bidder.get_absolute_url}}">{{bidder.purchases.count}}</a></td>
    </tr>
{% endfor %}
</table>
<p>
<a href="/bidders/new">Create new bidder</a>
{% endblock %}
