{% extends 'auction/base.html' %}

{% block content %}
<a href="/items"><h3 class="inline" >Items</h3></a>
<form class="inline" action="" method="get">
    <input type="text" name="query" value="{{query}}"/>
    <input type="submit" value="Search"/>
</form>
<ul id="items-list">
{% for item in items %}
    <li {% if item.quantity_remaining == 0 %}class="complete" {% endif %}>
    <a href="{{item.get_absolute_url}}" >{{item.code}}, {{item.name}}</a>
    
    </li>
{% endfor %}
</ul>
<a href="/items/new">Create new item</a>
{% endblock %}
