{% extends 'auction/base.html' %}

{% block content %}
<a href="/items"><h3 class="inline" >Items</h3></a>
<form class="inline" action="" method="get">
    <input type="text" name="query" value="{{query}}"/>
    <input type="submit" value="Search"/>
</form>
<table id="items-list">
    <tr>
        <th>Code</th>
        <th>Name</th>
    </tr>
{% for item in items %}
    <tr {% if item.quantity_remaining == 0 %}class="complete" {% endif %}>
        <td><a href="{{item.get_absolute_url}}" >{{item.code}}</a></td>
        <td><a href="{{item.get_absolute_url}}" >{{item.name}}</a></td>
    </tr>
{% endfor %}
</table>
<p>
<a href="/items/new">Create new item</a>
{% endblock %}
